.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.part-one{
    text-align: center;
}
.part-one>p{
    width: 40vw;
}
.Dynamic{
    display: flex;
    gap: 3vw;
}
.inside-dynamic{
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.inside-dynamic>a{
    color: rgb(148, 178, 200);
    font-size: small;
}


.fourt-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(109, 72, 229);
    color: white;
    padding: 6vh 0;
}
.fourt-section>a{
    color: white;
}
.numbers{
    display: flex;
    align-items: center;
    gap: 5vw;
}
.numbers>div{
    text-align: center;
}
.numbers>div>h1{
    font-size: 70px;
}