*{
    padding: 0;margin: 0;
    font-family: sans-serif;
    font-size:17px ;
}
body{
   
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 10vw;
}
nav>h1{
    color: rgb(49, 69, 132);
}
.a1{
    position: relative;
}
.a1::after{
    content: "";
    position: absolute;
    background-color:rgb(255, 57, 70) ;
    
    height: 3px;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}
.a1:hover::after{
    width: 100%;
}
.links{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.links>a{
    text-decoration: none;
    color: rgb(76, 107, 167);
}
.btn1{
    background-color: transparent;
    color: rgb(255, 57, 70);
    padding: 10px 2vw;
    border: 1px solid rgb(255, 57, 70);
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    transition: 0.3s;
}
.btn1:hover{
    background-color:rgb(255, 57, 70) ;
    color: white;
}


.first-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10vw;
}
.first-right{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.para-and-h1{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.para-and-h1>h1{
    font-size: 60px;
    color: rgb(76, 107, 167);
}
.para-and-h1>p{
    width: 27vw;
    color: grey;
}
.btn2{
    background-color: rgb(255, 57, 70);
    color: white;
    padding: 10px 2vw;
    border: 1px solid rgb(255, 57, 70);
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
    transition: 0.3s;
}
.btn2:hover , .left-side-btn:hover{
    background-color: transparent;
    color: rgb(255, 57, 70);
}
.btns>a{
    text-decoration: none;
    color: rgb(112, 161, 215);
}
.btns{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.second-section{
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    padding-inline: 10vw;

}

.second-section>div {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 3vh;
}

.left-side-btn{
    padding: 1.5vh;
    width: 60%;
    border: 1px solid rgb(255, 57, 70);
    border-radius: 50px;
    background-color: rgb(255, 57, 70);
    color: white;
    font-size: small;
    font-weight: bold;
    
}

.center-side, .right-side {

    box-shadow: 0px 10px 10px 2px #a4a4a4;
    height: 30vh;
    border: 1px solid none;
}
.left-side>h1{
    font-size: 20px;
    
}
.left-side>h1, .right-side>h2, .center-side>h2 {
    color: rgb(49, 69, 132);
}

.right-side>p, .center-side>p {
    color: gray;
}

.left-side {
    display: flex;
    
}

.link {
    text-decoration: none;
    color: rgb(255, 57, 70);
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding-inline: 10vw;


}

.get-in-touch {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.get-in-touch>h1 {
    color: rgb(49, 69, 132);
}

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.group {
    display: flex;
    gap: 2vw;
    width: 100%;
}

.group>input {
    padding: 1vh;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #f4fafe;
    border: none;
    width: 50%;
    padding: 2vh 1vw;

}

textarea {
    padding: 2vh 1vw;
    background-color: #f4fafe;
    border: none;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
    background-color: rgb(49, 69, 132);
    padding: 5vh 0;
    color: white;
}
footer>h2{
    color:rgb(255, 57, 70) ;
}
.links2{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
.a2{
    text-decoration: none;
    color: white;
}
footer>.icons{
    display: flex;
    align-items: center;
    gap: 3vw;
}
i{
   font-size: 25px;
}




@media (max-width: 430px){
    body{
        gap: 15vh;
    }
    nav{
        padding-inline: 10px;
    }
    .links{
        display: none;
    }

    .first-section{
        flex-direction: column;
        gap: 5vh;
    }
    .para-and-h1{
        align-items: center;
        justify-content: center;
        gap: 3vh;
    }
    .para-and-h1>h1{
        font-size: 35px;
        text-align: center;
    }
    .para-and-h1>p{
        text-align: center;
        width: 65vw;
    }
    .btns{
        flex-direction: column;
        align-items: center;
    }
    .first-right{
        gap: 5vh;
    }
    .btn2{
        padding: 10px 3vw;
    }
    img{
        width: 300px;
    }


    .links2{
        flex-direction: column;
        gap: 3vh;
    }
    .icons{
        width: 100%;
        justify-content: space-evenly;
    }

    .second-section {
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }

    .second-section>div {
        width: 100%;

    }

    .left-side {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .svgs {
        width: 50px;
    }

    .center-side, .right-side {
        align-items: center;
        text-align: center;
    }
    .get-in-touch {
        align-items: center;
    }



}


