*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

ul>li {
    list-style: none;

}

.second-section {
    background-color: #f6f6fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 0;
    
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.description p {
    width: 30vw;
    text-align: center;
    color: #a7a4a4;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding: 4vw 15vh;


}
.features-items {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.features-items p {
    text-align: center;
    color: #a7a4a4;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ece7fe;
    color: #afbad2;
}

.fifth-section {
    display: flex;
    justify-content: center;
    gap: 4vw;
    padding: 8vw 15vh;
}

.first-part {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.details {
    display: flex;
    gap: 1vw;
    justify-content: center;
}
.icon1 {
    font-size: 30px;
    
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.right-side h2 {
    color: rgb(103, 101, 101);
}

.right-side p {
    color: #a7a4a4;
    width: 20vw;
}

footer {

    padding: 3vh 15vw;
    background-color: #f6f6fd;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;

}

.top>h1 {
    width: 40vw;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

form>input {
    padding: 2vh 10vw 2vh 2vh;
}

form>button {
    background-color: #6d48e5;
    border: none;
    color: white;
    font-size: 16px;
    padding: 2vh 10vw;
    border-radius: 4px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 5vw;
}

ul {
    display: flex;
    gap: 2vw;

}


h4{
    color: rgb(109, 72, 229);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
}
.links{
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
.link{
    display: flex;
    align-items: center;
    gap: 1vw;
}
a{
    text-decoration: none;
    color: black;
}
.btn1{
    background-color: rgb(109, 72, 229);
    color: white;
    border: none;
    border-radius: 5px;
    padding:5px 1vw ;
}


.first-section{
  
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 3vh;
}
.multi-purpose{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2vh;
}
.images{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.btn2{
    background-color: rgb(109, 72, 229);
    color: white;
    border: none;
    border-radius: 5px;
    padding:5px 2vw ;

}

.second-section {
    background-color: #f6f6fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 0;
    
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.description p {
    width: 30vw;
    text-align: center;
    color: #a7a4a4;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding: 4vw 15vw;


}
.features-items {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.features-items p {
    text-align: center;
    color: #a7a4a4;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ece7fe;
    color: #afbad2;
}    
.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.part-one{
    text-align: center;
}
.part-one>p{
    width: 40vw;
}
.Dynamic{
    display: flex;
    gap: 3vw;
}
.inside-dynamic{
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.inside-dynamic>a{
    color: rgb(148, 178, 200);
    font-size: small;
}


.fourt-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    background-color: rgb(109, 72, 229);
    color: white;
    padding: 10vh 0;
}
.boost{
    display: flex;
    flex-direction: column;
}
.fourt-section>a{
    color: white;
}
.numbers{
    display: flex;
    align-items: center;
    gap: 5vw;
}
.numbers>div{
    text-align: center;
}
.numbers>div>h1{
    font-size: 70px;
}@media (max-width: 768px) {

    .fifth-section {
        flex-direction: column-reverse;
    }
    .fifth-section img {
        width: 100%;
    }

    .first-part {
        flex-direction: row;
        justify-content: space-around;
    }

    .description p {
        width: 50%;
    }

    .details {
        flex-direction: column;
        align-items: center;
    }
   .details p {
        text-align: center;
    }

    .top>h1 {
        width: 100vh;
    }
    .bottom {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }
}
@media (max-width: 425px) {

    nav{
        justify-content: space-between;
        padding-inline: 30px;   
        
    
       }
       .link{
        display: none;
        
       }
    
       .images{
        flex-direction: column;
        justify-content: center;
        width: 30px;
       }
        img{
            width: 300px;
        }
        .part-one{
            display: flex;
            flex-direction: column;
            gap: 2vh;
        }
        .part-one>h1{
            font-size: 25px;
        }
        .part-one>p{
            width: 85vw;
            text-align: center;
        }
        .Dynamic{
            flex-direction: column;
            align-items: center;
        }
        .inside-dynamic{
            width: 60vw;
            text-align: center;
            gap: 1vh;
        }
    
    
        .numbers{
            flex-direction: column;
        }
        .boost{
            text-align: center;
            gap: 1vh;
        }
        .boost>h1{
            font-size: 27px;
        }
        .numbers>div>h1{
            font-size: 50px;
        }
    .second-section {
        gap: 5vh;
        padding-top: 3vh;
    }

    .description h1 {
        font-size: 20px;
    }
    .description p{
        width: 80%;
    }
    .top>h1 {
        width: 80%;
        font-size: 16px;
        text-align: center;
    }

    .features {
        flex-direction: column;
        padding: 0;
    }
    .features-items {
        width: 100%;
    }
    .features p {
        width: 80%;
    }
    .fifth-section {
        padding: 2vh 0;
    }

    .first-part {
        flex-direction: column;
    }
    .right-side p {
        width: 100%;
    }
    .details {
        align-items: center;
        gap: 2vh;
    }
    .right-side {
        text-align: center;
        gap: 2vh;
    }

    footer {
        padding: 3vh 0;
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    ul {
        width: 100%;
        justify-content: space-around;
    }

    form {
        width: 80%;
        gap: 2vh;
    }

    

   
}
